/* News aggregators */
#aggregator {
  padding: 2em 1em;
  .feed-item {
    max-width: 15em;
    padding: 1em;
    margin-bottom: 1em;
    display: inline-block;
    vertical-align: top;
    @include transition(background, 0.3s);
    h3 {font-weight: bold; }
    &:hover {background: rgba(225,225,225,0.6); }
  }
  .feed-item-meta {font-size: 0.75em; }
}