/* FOSS Boxers */
.view-id-foss_members tr td {
  vertical-align: top;
  padding-bottom: 3em;
}
.view-id-foss_members p { margin-bottom: 0.5em; }
.view-id-foss_members .views-field-field-name div { font-size: 1.1em; }