/* project page */
article.node--project{
  padding: 2em 0;
  .field-name-field-title {
    font-size: 2.25em;
  }
  .field-name-field-tagline-slogan {
    margin-bottom: 1.5em;
  }
  .field-name-field--project-logo {
    margin-bottom: 1em;
  }
}