/* projects page view (all) */
#block-views-projects-block{
  tr {
    vertical-align: top;
    max-height: 43.75em;
    overflow: hidden;
  }
  td {
    padding-bottom: 3em;
  }
  .views-field-title {
    font-size: 2.25em;
  }
}

/* project page */
article.node--project{
  padding: 2em 0;
  .field-name-field-title {
    font-size: 2.25em;
  }
  .field-name-field-tagline-slogan {
    margin-bottom: 1.5em;
  }
  .field-name-field--project-logo {
    margin-bottom: 1em;
  }
}