/* this is used on the homepage */
/* sets the slider background to grey */
// #zone-preface-wrapper{  }

// the slider is within the "preface first" region
// it was manually given a className of "foss-slider"
.foss-slider{
	background: #DCDCDC;

	h2.block-title { display: none; }

	.views-field-title {
		font-size: 2.25em;
	}

	// this is the div that holds all the "slides"
	#views_slideshow_cycle_main_slide_test-block {
		@extend .container;
		
		#views_slideshow_cycle_teaser_section_slide_test-block {
			width: 100% !important;
			background-color: #111;
			color: #fff;

			p {margin-top: 0;}
			.views_slideshow_cycle_slide {
				width: 100% !important;

				// the actual field things we need
				.views-field-field-event-banner-image img {
					width: 100% !important;
					height: 140px !important;
					@include transition(height, 0.3s);
					@include mq(tablet) { height: 200px !important; }
					@include mq(netbook) { height: 280px !important; }
					@include mq(desktop) { height: 340px !important; }
				}
				.views-field-title {
					padding: 0.5em 1em 0.25em;
				}
				.views-field-body {
					padding: 0 2.25em;
				}
			}
		}
	}
}
