/**
 * netbook/small screen
 */
@media only screen and (min-width: 768px) {
  /* header bar */
  #section-header { padding-bottom: 0; }

  /* $News (aggreggator) */
  #aggregator{
   	float: left;
   	width: 70%;
   	padding-right: 3.6%;
  }

  /* $Featured Slider */
  #views_slideshow_cycle_teaser_section_featured_slider-block 
  { min-height: 400px !important; }
  #block-views-featured-slider-block img
  { width: 960px; }

  /* $Featured Events Block */
  #block-views-featured-events-block{
    float: left;
    width: 70%;
    padding-right: 5%;
    border-top: 1px solid #000;
  }

  /* $Featured Projects Block */
  #block-views-featured-projects-block{
    float: left;
    width: 70%;
    padding-right: 5%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding-bottom: 40px;
  }

/* $Featured Events Block */
    #block-views-featured-events-block{
      float: left;
      width: 80%;
      padding-right: 5%;
      border-top: 1px solid #000;
     }

/* $Featured Projects Block */
    #block-views-featured-projects-block{
        float: left;
        width: 80%;
        padding-right: 5%;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding-bottom: 40px;
    }

}
