/**
 * fullscreen, tv+
 */
@media only screen and (min-width: 1024px) {
    body:after {content: "Desktop - 1024 and up"; background-color: hsla(360,60%,40%,0.7); }

/* $About Content
________________________________________________________________________*/
    #node-page-135{
     	float: left;
     	padding-right: 5%;
    }

/* $Events Content
________________________________________________________________________*/
    #node-page-329{
     	float: left;
     	padding-right: 5%;
    }
    @-moz-document url-prefix() { 
  		#node-page-329{
     			float: left;
     			padding-right: 5%;
  		}
	}

/* $News Content
________________________________________________________________________*/
     #aggregator{
     	float: left;
     	width: 70%;
     	padding-right: 5%;
     }

/* $Research Content
________________________________________________________________________*/
     #node-page-330{
     	float: left;
     	width: 70%;
     	padding-right: 5%;
     }
}
