/* $TYPOGRAPHY */
/* ________________________________________________________________________ */
@import url("http://openfontlibrary.org/face/jura");

@font-face {
  font-family: "SocialBats";
  src: url('../font/socialbats-webfont.eot');
  src: url('../font/socialbats-webfont.eot?#iefix') format('eot'), url('../font/socialbats-webfont.woff') format('woff'), url('../font/socialbats-webfont.ttf') format('truetype'), url('../font/socialbats-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Orbitron";
  /*src: url('../font/OrbitronBlack.otf');
  src: url('../font/OrbitronBlack.ttf') format('truetype');*/
  src: url('../font/OrbitronMedium.otf');
  src: url('../font/OrbitronMedium.eot?') format('eot');
  src: url('../font/OrbitronMedium.eot?#iefix') format('embedded-opentype');
  src: url('../font/OrbitronMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  font-family:  'Jura', Verdana, Arial, sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: subpixel-antialiased; 
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Jura";
}

h2.site-name {
  font-size: 1.5em;
}
h6.site-slogan {
  font-size: 1em;
}

h2.block-title{
  font-family: "Orbitron";
  padding-bottom: 2%;
  letter-spacing: 2px;
}

.field-content>h1{
  font-family: "Orbitron";
  letter-spacing: 2px;
}

/* $HEADER */
/* ________________________________________________________________________ */
#section-header {
  font-family: "Jura", Verdana, sans-serif;
  background: #333;
  color: #eee;
  padding: 0.1em 0 1em;
}
#section-header a {
  color: inherit;
}
#zone-preface-wrapper{
  background: #DCDCDC;
}

  /* id="zone-branding" */
  /* logo / h1 / tagline */
  #zone-branding .logo-img {
    display: inline-block;
    margin: 0 1em 0 0;
  }
  #zone-branding .logo-img img{
    height: 50px;
    width: 45px;
    position: relative;
    bottom: 0.75em;
  }
  #zone-branding h1.site-name {
    font-size: 1.5em;
    text-shadow: 0px 1px 3px #000;
    filter: dropshadow(color=#000, offx=0, offy=1);
  }
  #zone-branding hgroup.site-name-slogan {
    float: none;
  }

    /* navigation */
    #region-menu nav.navigation{
      font-size: 1.2em;
      text-shadow: 0px 1px 3px #000;
      filter: dropshadow(color=#000, offx=0, offy=1);
    }
      /* main menu */
      #main-menu {
        padding: 1em 0 0;
        text-transform: uppercase;
      }
      #main-menu a {
        text-decoration: none;
      }
      #main-menu a:hover {
        color: #fff;
        border-bottom: 2px solid green;
      }

/* Recent blog posts, and second region sidebar */
 .region-sidebar-second-inner{
  margin-top: 8%;
  text-align: center;
 }


/* $Social Icons */
#block-block-11{
  /*text-align: center;*/
  margin-top: 20%;
}
#social{
  font-family: "SocialBats";
  color: #000;
  font-size: 30px;
  text-decoration: none;
  margin-left: 5%;
}
#social:hover{
  color: #6cd73d;
}

/* $FOOTER */
#section-footer {
  background: #333;
  color: #eee;
  font-family: "Jura", Verdana, sans-serif;
  font-size: 110%;
  padding: 1em 0 2em;
}

/* $SPONSORS */
#section-footer .sponsors .block-imageblock {
  float: left;
  text-align: center;
  margin-right: 2em;
  -webkit-filter: grayscale(50%);  
  -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
              transition: all 0.2s ease-out;
}
#section-footer .sponsors .block-imageblock:hover{
  -webkit-filter: none; 
  -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
           -o-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
}
#section-footer .sponsors .block-imageblock img {
  max-height: 40px;
}
#section-footer .sponsors .block-imageblock h2.block-title{
  font-size: 14px;
}

/* COPYRIGHT */
#section-footer .copyright {
  max-height: 1.5em;
  color: #aaa;
  font-size: 0.8em;
  text-align: center;
  margin: 1em 0 0;
}

/* $CSS3 */
.transition {
    -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
             -o-transition: all 0.3s ease-out;
                  transition: all 0.3s ease-out;
}




/* $Featured Slider */

.views-field-field-slider-image{
  z-index: 1;
}

.views-field-field-body{
    z-index: 2;
    margin-top: -200px;
    color: #FFF;
    height: 200px;
    background: #000;
    opacity: .6;
    padding-left: 5%;
}

/* Home Page body content */
#node-page-1{
          width: 80%;
}

/* $Featured Events Block */
#block-views-featured-events-block{
  border-top: 1px solid #000;
}

/* $Featured Projects Block */
#block-views-featured-projects-block{
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding-bottom: 40px;
}

/* Events */
#block-views-events-block {
  margin-bottom: 4em;
}

/* FOSS Team Members */
.view-id-foss_members tr td {
  vertical-align: top;
  padding-bottom: 3em;
}
.view-id-foss_members p {
  margin-bottom: 0.5em;
}
.view-id-foss_members .views-field-field-name div {
  font-size: 1.1em;
}

/* News aggregators */
#aggregator {
  padding: 2em 1em;
}
#aggregator .feed-item {
  padding-bottom: 2em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 3.5em;
}





/**
 * mobile
 */
@media only screen and (min-width: 320px) and (max-width: 480px){  
  #block-views-featured-slider-block img{
    width: 300px;
    height: 100px;
  }
  
  .views-field-field-slider-image{
    z-index: 1;
  }

  .views-field-field-body{
    display: none;
  }
}
