@import "normalize";

// some of these styles ARE dependant on which Zone a block is in (sorry)

// table of contents
// --
// base styles
// header/footer style schemes
// branding (logo, site name)
// navigation
// content area
// event styles
// project styles
// FOSS member styles
// footer styles

// Traditional scale 
// 6  = 0.375em
// 7  = 0.4375em
// 8  = 0.5em
// 9  = 0.5625em
// 10 = 0.625em
// 11 = 0.6875em
// 12 = 0.75em
// 14 = 0.875em
// 16 = 1em
// 18 = 1.125em
// 21 = 1.3125em
// 24 = 1.5em
// 36 = 2.25em
// 48 = 3em
// 60 = 3.75em
// 72 = 4.5em


// media queries
@mixin mq($breakpoint)
{
  @if $breakpoint == mobile
  {
    @media only screen and (min-width: 320px){
      @content;
    }
  }
  @else if $breakpoint == tablet
  {
    @media only screen and (min-width: 480px) {
      @content;
    }
  }
  @else if $breakpoint == netbook
  {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @else if $breakpoint == desktop
  {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }
}
// css3 - transition
@mixin transition($property, $time)
{
  -webkit-transition: $property $time ease-out;
  -moz-transition: $property $time ease-out;
  -o-transition: $property $time ease-out;
  transition: $property $time ease-out;  
}



/* BASE STYLES */
html {
  font-size: 100%;
  -webkit-font-smoothing: subpixel-antialiased; 
}
a{
  color:#378013;
  text-decoration: none;
}
.hidden, .element-invisible {
  visibility: hidden;
  display: none;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after { clear: both; }
.left { float: left; }
.right {float: right; }
.inline, .inline li { display: inline-block; }
.inline li { margin-right: 1em; }
.pager { @extend .inline; }
.tabs.primary { @extend .inline; }



// max width: 960px
.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  @extend .cf;
}
#zone-user-wrapping,
#zone-branding,
#block-views-featured-slider-block,
#zone-content-wrapper,
#zone-postscript-wrapper,
#zone-footer-wrapper {
  @extend .container;
}
.not-front #zone-preface-wrapper { display: none; }

// partner 
// --
// barcamp roc
// fedora projec
// interlock
// everything except the bottom

// sponsors
// redhat
// stormfrog


/* $HEADER/FOOTER */
#section-header, #section-footer
{
  color: #eee;
  background-color: #333333;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#121212));
  background-image: -webkit-linear-gradient(top, #333333, #121212);
  background-image: -moz-linear-gradient(top, #333333, #121212);
  background-image: -o-linear-gradient(top, #333333, #121212);
  background-image: linear-gradient(to bottom, #333333, #121212);
  padding-top: 0.75em;
  a {
    color: inherit;
    text-decoration: none;
  }
}
#skip-link { @extend .hidden; }

/* content area */
#zone-content, #section-footer {
  p, ul, ol { line-height: 1.4; }
}


/* home page */
.front {
  @extend .cf;
  h1.title {
    font-size: 1.5em;
    @include transition(font-size, 0.3s);
    @include mq(netbook) { font-size: 1.85em; }
    @include mq(desktop) { font-size: 2.25em; }
  }
  @include mq(netbook){
    .grid-9 {
      width: 65%;
      float: left;
    }
    .grid-3 {
      width: 30%;
      float: right;
    }
  }
}

@import "pieces/branding";

@import "pieces/navigation";

@import "pieces/events";

@import "pieces/project";

@import "pieces/fossboxers";


/* SIDEBAR */
/* _________________________________________________ */
article.node-blog.node-teaser nav.links.node-links ul {
  padding-left: 0;
}




@import "pieces/slider";

@import "pieces/aggregator";