/* $TYPOGRAPHY */
/* ________________________________________________________________________ */
@font-face {
  font-family: "SocialBats";
  src: url('../font/socialbats-webfont.eot');
  src: url('../font/socialbats-webfont.eot?#iefix') format('eot'), url('../font/socialbats-webfont.woff') format('woff'), url('../font/socialbats-webfont.ttf') format('truetype'), url('../font/socialbats-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Orbitron";
  src: url('../font/OrbitronMedium.otf');
  src: url('../font/OrbitronMedium.eot?') format('eot');
  src: url('../font/OrbitronMedium.eot?#iefix') format('embedded-opentype');
  src: url('../font/OrbitronMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



/* BASE STYLES */
/* ________________________________________________________________________ */
html {
  font-family: Arial, Verdana, sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: subpixel-antialiased; 
}
h1, .field-content > h1,
h2, h2.block-title,
h3, h4, h5, h6, 
#page-title {
  font-family: "Orbitron";
}
h2.site-name { font-size: 1.5em; }
h2.block-title{ padding-bottom: 2%; }
h6.site-slogan {
  font-size: .8em;
  line-height: 2;
}


/* $HEADER */
/* _________________________________________________ */
#section-header,
#section-footer /* both same scheme */
{
  background: #333;
  color: #eee;
}
#section-header a { color: inherit; }

/* this is used on the homepage */
/* sets the slider background to grey */
#zone-preface-wrapper{ background: #DCDCDC; }

/* SITE BRANDING (logo, site-name) */
#zone-branding .logo-img {
  display: inline-block;
  margin: 0 1em 0 0;
}
#zone-branding .logo-img img{
  height: 40px;
  width: 35px;
  position: relative;
  bottom: 0.55em;
  vertical-align: middle;
}
#zone-branding h1.site-name { font-size: 1.5em; }
#zone-branding hgroup.site-name-slogan { float: none; }



/* NAVIGATION */
/* _________________________________________________ */
#main-menu {
  padding: 1em 0 0;
  text-transform: uppercase;
}
#main-menu a {
  text-decoration: none;
}
#main-menu a:hover {
  color: #fff;
  border-bottom: 2px solid green;
}



/* SIDEBAR */
/* _________________________________________________ */
.region-sidebar-second-inner{ margin-top: 8%; }

/* $Social Icons */
#block-block-11{ margin-top: 25%; }
#social{
  font-family: "SocialBats";
  color: #000;
  font-size: 30px;
  text-decoration: none;
  margin-left: 5%;
}
#social:hover{ color: #6cd73d; }



/* $FOOTER */
/* _________________________________________________ */
#section-footer { padding: 1em 0 2em; }

/* sponsors */
#section-footer .sponsors .block-imageblock {
  float: left;
  text-align: center;
  margin-right: 2em;
  -webkit-filter: grayscale(50%);  
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#section-footer .sponsors .block-imageblock:hover{ -webkit-filter: none; }
#section-footer .sponsors .block-imageblock img { max-height: 40px; }

/* copyright */
#section-footer .copyright {
  color: #aaa;
  font-size: 0.8em;
  text-align: center;
  margin-top: 2em;
}
/* getting rid of that weird footer empty space */
#block-block-12 div div p { margin-bottom: 0; }







/* CONTENT PAGES */
/* _________________________________________________ */
/* add some space to all pages */
.region-content-inner{ margin-top: 5%; }


/* $Featured Slider */
.views-field-field-slider-image { z-index: 1; }
#views_slideshow_cycle_teaser_section_featured_slider-block 
{
  width: auto !important;
  height: auto !important;
  min-height: 280px !important;
}
.views-slideshow-cycle-main-frame-row-item { position: relative; }
.views-field-field-body{
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  color: #FFF;
  background-color: hsla(2, 1%, 0%, 0.5);
  padding: 0 3em;
}
#block-views-featured-slider-block h1
{
  font-weight: normal;
  margin-bottom: 0;
}
/* hide slider on mobile */
@media only screen and (min-width: 320px) and (max-width: 480px){  
  .views-field-field-body{ display: none; }
}



/* $Featured Events Block */
#block-views-featured-events-block{ border-top: 1px solid #000; }

/* $Featured Projects Block */
#block-views-featured-projects-block{
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding-bottom: 40px;
}

/* Events */
#block-views-events-block { margin-bottom: 4em; }


/* About */
/* FOSS Team Members */
.view-id-foss_members tr td {
  vertical-align: top;
  padding-bottom: 3em;
}
.view-id-foss_members p { margin-bottom: 0.5em; }
.view-id-foss_members .views-field-field-name div { font-size: 1.1em; }


/* News aggregators */
#aggregator {
  padding: 2em 1em;
}
#aggregator .feed-item {
  padding-bottom: 2em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 3.5em;
}




/* $CSS3 */
.transition {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
