 
/*#toolbar {display: none;}*/

/* 
image slider:
https://drupal.org/project/content_slider
*/

/**
 * global.css
 *   default styles/mobile first
 */

/*
TABLE OF CONTENTS
________________________________________________________________________

$RESET					-		basic CSS reset
$TYPOGRAPHY		-		font family, h1...h6
$ELEMENTS			-		styling basic elements, <header>, <footer>, <a>
$OBJECTS				-		
$COMPONENTS		-		container objects, buttons
$CLASSES				-		base classes
$STYLE					-		other styles
$MQ							-		media queries

*/



/* $RESET */
/* ________________________________________________________________________ */
/* done in the base Omega theme (based on Eric Meyer's reset) */



/* $TYPOGRAPHY */
/* ________________________________________________________________________ */
@import url("http://openfontlibrary.org/face/jura");

@font-face {
  font-family: "SocialBats";
  src: url('../font/socialbats-webfont.eot');
  src: url('../font/socialbats-webfont.eot?#iefix') format('eot'), url('../font/socialbats-webfont.woff') format('woff'), url('../font/socialbats-webfont.ttf') format('truetype'), url('../font/socialbats-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FontAwesome";
  src: url('../font/fontawesome-webfont.eot');
  src: url('../font/fontawesome-webfont.eot?#iefix') format('eot'), url('../font/fontawesome-webfont.woff') format('woff'), url('../font/fontawesome-webfont.ttf') format('truetype'), url('../font/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
	font-family:	'Jura', Verdana, Arial, sans-serif;
  font-size: 100%;
	-webkit-font-smoothing: subpixel-antialiased; 
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Jura";
}

h2.site-name {
  font-size: 1.5em;
}
h6.site-slogan {
  font-size: 1em;
}
/* Traditional scale */
/*
6  = 0.375em
7  = 0.4375em
8  = 0.5em
9  = 0.5625em
10 = 0.625em
11 = 0.6875em
12 = 0.75em
14 = 0.875em
16 = 1em
18 = 1.125em
21 = 1.3125em
24 = 1.5em
36 = 2.25em
48 = 3em
60 = 3.75em
72 = 4.5em
*/





/* $HEADER */
/* ________________________________________________________________________ */
#section-header {
  font-family: "Jura", Verdana, sans-serif;
  background: #333;
  color: #eee;
  padding: 0.1em 0 1em;
}
#section-header a {
  color: inherit;
}

  /* id="zone-branding" */
  /* logo / h1 / tagline */
  #zone-branding .logo-img {
    display: inline-block;
    margin: 0 1em 0 0;
  }
  #zone-branding .logo-img img{
    height: 50px;
    width: 45px;
    position: relative;
    bottom: 0.75em;
  }
  #zone-branding h1.site-name {
    font-size: 2em;
  }
  #zone-branding hgroup.site-name-slogan {
    float: none;
  }

  /* id="zone-menu" */
  #zone-menu {
    margin-top: 1em;
  }
  #main-menu {
    padding: 1em 0 0;
    text-transform: uppercase;
  }
  #main-menu a {
    text-decoration: none;
  }
  #main-menu a:hover {
    color: #fff;
    border-bottom: 2px solid green;
  }

/* ________________________________________________________________________ */






/**
 * FOOTER STYLES
 */

/* $SPONSORS */
/* ________________________________________________________________________*/
#section-footer .sponsors .block-imageblock {
  float: left;
  margin-right: 2em;
  -webkit-filter: grayscale(50%);  
  -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
              transition: all 0.2s ease-out;
}

#section-footer .sponsors .block-imageblock:hover{
  -webkit-filter: none; 
  -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
           -o-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
}
#section-footer .sponsors .block-imageblock img {
  max-height: 40px;
}
#block-block-11{
  text-align: center;
}
#social{
  font-family: "SocialBats";
  color: #000;
  font-size: 30px;
  text-decoration: none;
}
#social:hover{
  color: #778899;
}

/* $FOOTER
________________________________________________________________________*/
#section-footer {
  background: #333;
  color: #eee;
  font-family: "Jura", Verdana, sans-serif;
  font-size: 110%;
}




/* $CSS3
________________________________________________________________________*/
.transition {
    -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
             -o-transition: all 0.3s ease-out;
                  transition: all 0.3s ease-out;
}




















/* $CREDITS
________________________________________________________________________*/
/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap

      License
      -------------------------------------------------------
      The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
      http://creativecommons.org/licenses/by/3.0/ A mention of
      'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
      source code is considered acceptable attribution (most common on the web).
      If human readable source code is not available to the end user, a mention in
      an 'About' or 'Credits' screen is considered acceptable (most common in desktop
      or mobile software).

      Contact
      -------------------------------------------------------
      Email: dave@davegandy.com
      Twitter: http://twitter.com/fortaweso_me
      Work: http://lemonwi.se co-founder

    
